.background {
  background: linear-gradient(69.66deg, #00c1fe 19.39%, #faffc1 96.69%);
}

.bg-sidebar {
  background-color: #faffc1;
}

.list-group-item {
  background-color: transparent;
  border: none;
}

.bg-active {
  background-color: #00c1fe;
}

.bg-student {
  background-color: #f0f9ff;
}

.bg-course {
  background-color: #fef6fb;
}

.bg-payments {
  background-color: #fefbec;
}

.bg-users {
  background: linear-gradient(110.42deg, #00c1fe 18.27%, #faffc1 91.84%);
}

.table-separate {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.btn-bg-less {
  background-color: transparent;
  border: none;
}
/* 
tr:nth-of-type(odd) {
  background-color: rgb(255, 255, 255) !;
} */
