<div class="row align-items-center mt-2">
  <div class="col-1">
    <!-- hide icone here -->
    <i class="bi bi-arrow-left-circle"></i>
  </div>
  <!--this to keep search and bell at the right side-->
  <div class="col-6"></div>
  <div class="col-4">
    <!-- serch input here -->
    <div class="input-group">
      <input
        type="search"
        id="form1"
        class="form-control"
        placeholder="search"
      />
      <button type="button" class="btn">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
  <div class="col-1">
    <!-- notification bell here -->
    <i class="bi bi-bell"></i>
  </div>
</div>
